# App artifacts
/_build
/db
/deps
/*.ez
/doc
/out
/cache
/logs
/scripts/moon_cache
*.snap
*.json
*.pem
*.o
*.pyc
*.fprof
*.cprof
*.sq3
*.csv
/*.log
*.key
.erlang.cookie
fprof.trace
blocks.dat
perf.data
/test/curl/out.json

# Generated on crash by the VM
erl_crash.dump

/states
/binlogs
/.vscode
/config/*.secret.exs
.elixir_ls/
clones
config/diode.exs
.history/
evm/evm
core
ttb_last_config
data_dev/
data_prod/
data_test/
data_prod_old/
nodedata_dev/
nodedata_prod/
nodedata_test/
supervise/
.env
